
<style>
    .load-dıs {
        width: 160px;
        height: 30px;
        padding: 2px;
        background: #d0e9ff;
        border: 1px solid #5194bb;
        margin: 0 auto;
    }

    .load-ic {
        border: 1px solid #45d3f3;
        display: block;
        text-align: left;
        height: 23px;
        background: #fff;
    }

        .load-ic p {
            font-size: 11px;
            margin: 0;
            padding: 3px 10px;
        }

            .load-ic p i {
                margin-right: 5px;
                font-size: 14px;
            }



    .loadingStyle {
        position: fixed;
        z-index: 2147483647 !important;
        overflow: hidden;
        text-align: center;
        top: 0;
        left: 0;
        height: 100%;
        opacity: 1.6;
        width: 100%;
        padding-top: 20%;
    }

    .closerScreen {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(../images/closerImage.png);
        top: 0;
        left: 0;
        z-index: 9998;
    }

    .closerScreenWithPref {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9998;
    }
</style>



<div id="closerDiv" class="closerScreen">
    <div class="loadingStyle" id="ajaxLoadingDiv">
        @*<div class="load-dıs">
                <div class="load-ic"><p><i class="icon-spinner3 spinner"></i> Lütfen bekleyiniz...</p></div>
            </div>*@

        <a href="javascript:void(0);" class="btn btn-default btn-xs" id="spinner-light-3"><i class="icon-spinner6 spinner position-left"></i>&nbsp;Lütfen Bekleyiniz..</a>
    </div>
</div>


